<!DOCTYPE html>
<html>
  <head>
    <title>Udemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>

  <body style="background-image: linear-gradient(to right, #1D976C 0%, #93F9B9 51%, #1D976C 100%)">
    <%= render 'shared/navbar' %>
    <div class="row">
      <div class="col m10 offset-m1">
        <%= yield %>
      </div>
    </div>
    <script>
      $(".button-collapse").sideNav();
    </script>
  </body>
</html>
